/*插播音视频  初始化样式*/
.inset-media{
	position: fixed;
	top: 200px;
	left: 200px;
	z-index: 9999;
}
.inset-Video {
	width: 640px;
	height: 300px;
	overflow: hidden;
}

.inset-Video .inset-title {
	margin: 0;
	padding: 0;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: #404040;
}

.inset-Video .media-box {
	height: 275px;
	width: 100%;
	background: #000;
}

.inset-Video video {
	height: 100%;
	width: 100%;
}

.inset-Audio {
	width: 462px;
	height: 61px;
	bottom: auto;	
	overflow: hidden;
}

.inset-Audio .inset-title {
	margin: 0;
	padding: 0;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #000;
	color: #fff;
	background: #404040;
}

.inset-Audio .media-box {
	position: relative;
	height: 36px;
	width: 100%;
	background: gray;
	overflow: hidden;
	font-size: 12px;
	color: #fff;
}

.inset-Audio .media-box .play-pause {
	width: 25px;
	height: 14px;
	padding: 0 6px;
	margin: 10px 0;
	float: left;
	overflow: hidden;
}

.inset-Audio .media-box .play-pause.play {
	background: url(./player-graphics.gif) -2px -98px no-repeat;
}

.inset-Audio .media-box .play-pause.pause {
	background: url(./player-graphics.gif) -2px -8px no-repeat;
}

.inset-Audio .media-box .scrubber {
	position: relative;
	float: left;
	width: 280px;
	background: #5a5a5a;
	height: 14px;
	margin: 10px;
	border-left: 0px;
	border-bottom: 0px;
	overflow: hidden;
}

.inset-Audio .media-box .progress {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 14px;
	width: 0px;
	background: #ccc;
	z-index: 1;
}

.inset-Audio .media-box .time {
	float: left;
	height: 36px;
	line-height: 34px;
	margin: 0px 0px 0px 6px;
	padding: 0px 6px 0px 12px;
	color: #fff;
}

.inset-Audio .media-box .time em {
	padding: 0px 2px 0px 0px;
	color: #f9f9f9;
	font-style: normal;
}

.inset-Audio .media-box .time strong {
	padding: 0px 0px 0px 2px;
	font-weight: normal;
}